@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Table Example</title>
</head>
<body>

    <div class="container mt-5">
        <h2>Employee Table</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>EID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile No</th>
                   
                </tr>
            </thead>
            <tbody>
              
                    <tr>
                        <th scope="row">@Model.Eid</th>
                        <td>@Model.Ename</td>
                        <td>@Model.Eaddress</td>
                        <td>@Model.MobileNo</td>
                        
                    </tr>

                


            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>